<center>
    <img class="image" src="https://i.ibb.co/PrDS4dB/istockphoto-860463522-612x612.jpg" alt="istockphoto-860463522-612x612" border="0">
    <br class="espacio">
    <a href="/">Back to home</a>
</center>

<style>
    *{
        background-color: #F1F1F3;
    }

    a{
        font-size: larger;
        text-decoration: none;
        font-family: "Barlow", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
</style>