<h1>List of products in real time</h1>
<a href="/">View all Products</a>

<div id="listContainer">
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realtimeproducts.js"></script>